# macOS system files
.DS_Store

# Node / development
node_modules

# Obsidian workspace state
.obsidian/workspace*
.obsidian/workspaces.json

# Obsidian graph state
.obsidian/graph.json

# Obsidian cache
.obsidian/cache/

# Ignore plugin runtime data
.obsidian/plugins/*/data.json

# Ignore plugin temporary state
.obsidian/plugins/*/.DS_Store