# Obsidian workspace settings
.obsidian/workspace*
.obsidian/workspaces.json

# Obsidian graph state
.obsidian/graph.json

# Obsidian cache
.obsidian/cache

# Local plugin data
.obsidian/plugins/*/data.json

# Mac system files
.DS_Store

# Node / dev stuff
node_modules